/* Today.css */
.app-container {
  background-color: #f0f8ff; /* Light blue background color */
  color: #006b52;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Ensure column layout */
  justify-content: flex-start; /* Align items to the start */
  padding-bottom: 25px; /* Ensure there is enough space at the bottom */
}

.scroll-container {
  flex: 3; /* Allow the scroll container to grow and take available space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1px;
}

.prayer-card {
  background-color: #ffbc00; /* White background for cards */
  color: #e6f7ff;
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin: 5px;
  padding: 5px;
  z-index: 999; /* Ensure it stays on top */
}

.next-prayer-card,
.countdown-card {
  flex: 1;
  background-color: #e6f7ff; /* Light blue background for emphasis */
  color: #006b52;
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin: 1px;
  padding: 1px;
  font-size: 0.3rem; /* Smaller font size */
}

h1 {
  font-size: 19px;
  margin-top: 20px; /* Ensure there is space at the top */
}

.card-title {
  font-size: 15px;
}

.card-text {
  font-size: 13px;
}

.display-4 {
  font-size: 19px; /* Smaller font size for display text */
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000; /* Ensure it stays on top */
}
